﻿@model IEnumerable<TheWorld.Models.Trip>

@{
    ViewBag.Title = "Home Page (MVC)";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to The World!</h1>
        <p>This app will allow you to plan your trips.</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View my trips</a>
    </div>
</div>