﻿@model IEnumerable<TheWorld.Models.Trip>

@{
    ViewBag.Title = "Home Page (MVC)";
}

<div class="row">
    <div class="col-md-6">
        <h1>The World</h1>
        <p>This will be a fun website soon!</p>

        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control"/>
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control"/>
            </div>
            <div>
                <input type="submit" value="Add" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>The map goes here.</h2>
        <ul>
            @foreach (var trip in Model)
            {
                <li>@trip.Name : @trip.CreatedOn.ToString("d")</li>
            }
        </ul>

    </div>
</div>